fastapi
uvicorn
pymilvus
pandas
python-multipart
python-docx
pypdf
sentence-transformers
requests
beautifulsoup4
sqlalchemy
openpyxl
langchain
langchain-community
langchain-huggingface
numpy
scikit-learn
jq
httpx
markdown